
/* Optional: Smooth transition for page background */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Press+Start+2P&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.dancing-script {
  font-family: 'Dancing Script', cursive;
}

.press-start {
  font-family: 'Press Start 2P', cursive;
}

@keyframes heart-pop {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: translate(var(--moveX), var(--moveY)) scale(2);
    opacity: 0;
  }
}

.heart {
  position: absolute;
  font-size: 30px; /* Bigger hearts */
  color: red;
  animation: heart-pop 1.5s ease-out forwards;
  pointer-events: none;
}
